<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DrawingLookup.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <DrawingLookup.My.MySettings>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Role" serializeAs="String">
                <value />
            </setting>
            <setting name="dbFileString" serializeAs="String">
                <value />
            </setting>
            <setting name="drawingFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="horizontalSplit" serializeAs="String">
                <value />
            </setting>
            <setting name="verticalSplit" serializeAs="String">
                <value />
            </setting>
            <setting name="pushFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="syncFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="logFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="newLogFile" serializeAs="String">
                <value />
            </setting>
        </DrawingLookup.My.MySettings>
    </userSettings>
</configuration>